@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* purgecss start ignore */
@tailwind base;

html {
    font-family: 'Montserrat', sans-serif;
}

button:focus {
    @apply outline-none;
}

input {
    -webkit-appearance: none;
}

@tailwind components;

.em-btn {
    @apply tracking-wider text-white font-semibold;
}

.em-btn.-big {
    @apply text-f7 px-4 py-c1;
}

.em-btn:not(.-big) {
    @apply text-f3 py-c2 px-8;
}

.em-btn.-reducable {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.em-btn.-rounded {
    @apply rounded-full uppercase;
} 

.em-btn.-square {
    @apply rounded;
} 

.em-btn.-ghost {
    @apply text-black;
    box-shadow: inset 0px 0px 5px #3CB9FF;
}

.em-btn.-ghost:disabled {
    cursor: default;
    opacity: 0.7;
}

.em-btn.-ghost:hover:not(:disabled) {
    box-shadow: 0px 5px 20px rgba(60, 185, 255, 0.5);
}

.em-btn.-danger {
    background: radial-gradient(
        171.97% 100% at 48.27% -0.7%,
        #ff8da2 0.37%,
        #e20029 80.81%
    );
}
.em-btn.-danger:disabled {
    cursor: default;
    background: #FFDFE5;
}

.em-btn.-danger:active:not(:disabled) {
    background: radial-gradient(
        100% 100% at 51.54% 0%,
        #d90027 38.02%,
        #fe4869 99.1%
    );
}

.em-btn.-danger:focus:not(:disabled) {
    box-shadow: 0px 10px 20px rgba(253, 0, 46, 0.4);
}

.em-btn.-danger:hover:not(:disabled) {
    box-shadow: 0px 10px 20px rgba(253, 0, 46, 0.4);
}

.title {
    @apply text-f4  font-bold text-black;
}

.em-btn.-primary {
    background: radial-gradient(
        149.96% 100% at 52.29% -0.07%,
        #3cb9ff 0%,
        #0011a8 100%
    );
}

.em-btn.-primary:disabled {
    cursor: default;
    background: #9AABD9;
}

.em-btn.-primary:active:not(:disabled) {
    background: radial-gradient(
        191.44% 127.66% at 51.87% 127.66%,
        #3cb9ff 0%,
        #0011a8 73.96%
    );
}

.em-btn.-primary:focus:not(:disabled) {
    @apply outline-none;

    box-shadow: 0px 10px 20px rgba(0, 17, 168, 0.45);
}

.em-btn.-primary:hover:not(:disabled) {
    box-shadow: 0px 10px 20px rgba(0, 17, 168, 0.45);
}

.em-calendar-btn {
    @apply flex w-20 h-20 rounded-full items-center justify-center overflow-hidden;
    opacity: 0.2;
    background: radial-gradient(
        149.96% 100% at 52.29% -0.07%,
        #3cb9ff 0%,
        #0011a8 100%
    );
}

.em-calendar-btn:hover {
    opacity: 1;
    box-shadow: 0px 10px 25px rgba(0, 17, 168, 0.51);
}

.em-calendar-btn:hover + img {
    display: none;
}

.em-calendar-btn:active {
    background: radial-gradient(191.44% 127.66% at 51.87% 127.66%, #3CB9FF 0%, #0011A8 73.96%);
}

.social {
    @apply mr-10 flex items-center;
}

.social:last-child {
    @apply mr-0;
}

.ekaterina-img {
    width: 100%;
    min-width: 312px;
    max-width: 528px;
    background-image: url("../../assets/images/png/speaker.png");
    background-size: cover;
    background-position: center center;
    height: 423px;
}

.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.radio .radio__input input + .radio__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: radial-gradient(149.96% 100% at 52.29% -0.07%, #3CB9FF 0%, #0011A8 100%);
    border-radius: 50%;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.radio .radio__input input + .radio__control .radio__control_inner {
    @apply rounded-full bg-white transition-all duration-300;
    width: 23px;
    height: 23px;
}

.radio .radio__input input:checked + .radio__control .radio__control_inner {
    width: 16px;
    height: 16px;
}

input.em-input {
    @apply tracking-wider font-semibold py-c1 px-4 w-full;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0px 0px 5px #3CB9FF;
    -moz-box-box-shadow: inset 0px 0px 5px #3CB9FF;
    box-shadow: inset 0px 0px 5px #3CB9FF;
}

input.em-input.-error {
    -webkit-box-shadow: rgb(230, 106, 106) 0px 0px 5px inset;
    -moz-box-box-shadow: rgb(230, 106, 106) 0px 0px 5px inset;
    box-shadow: rgb(230, 106, 106) 0px 0px 5px inset;
}

input.em-input:focus {
    @apply outline-none;
    -webkit-box-shadow: inset 0px 0px 5px #004FEA;
    -moz-box-box-shadow: inset 0px 0px 5px #004FEA;
    box-shadow: inset 0px 0px 5px #004FEA;
}

.ekaterina-video {
    width: 312px;
    min-width: 312px;
    height: 240px;
}

@media (max-width: 400px) {
    .ekaterina-img {
        height: 211px;
        background-position: unset;
    }
}

@media (min-width: 768px) {
    .em-btn.-reducable {
        font-size: 32px;
    }

    .title {
        @apply text-f6;
    }

    .em-calendar-btn {
        @apply w-c9 h-c9;
    }
    
    .ekaterina-video {
        width: 544px;
        min-width: 544px;
        height: auto;
    }
}

@media (min-width: 1024px) {

    .radio .radio__input input + .radio__control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        background: radial-gradient(149.96% 100% at 52.29% -0.07%, #3CB9FF 0%, #0011A8 100%);
        border-radius: 50%;
    }
    
    .radio .radio__input input + .radio__control .radio__control_inner {
        @apply rounded-full bg-white transition-all duration-300;
        width: 30px;
        height: 30px;
    }
    
    .radio .radio__input input:checked + .radio__control .radio__control_inner {
        width: 16px;
        height: 16px;
    }

    .ekaterina-video {
        width: 580px;
        min-width: 580px;
        height: auto;
    }
}

div[data-aos^='fade'][data-aos^='fade'] {
    opacity: 0;
    transition-property: opacity, transform;

    &.aos-animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

div[data-aos='fade-up'] {
    transform: translate3d(0, 100px, 0);
}

/* purgecss end ignore */
@tailwind utilities;